*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-control{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.btn-Login{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #25afe1;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

}
.bt-forget{
    background: rgb(217, 214, 214);
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.loginwithout{
    background: rgb(217, 214, 214);
    width: 100%;
    padding: 15px;
    color: black;
    font-size: 14px;
}